/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f8f8;
}

.building {
  background-image: url("https://cdn.pixabay.com/photo/2019/12/10/10/53/architecture-4685608__340.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 260px;
}

.blackBackground {
  background-image: url("https://media.istockphoto.com/photos/black-wooden-texture-background-blank-for-design-picture-id678497754?k=20&m=678497754&s=612x612&w=0&h=R4Y_kB1p0_NysMvF_bpY65CJmsYFdJm3tzjxacsHT4c=");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 355px;
}

.projectInfoItem {
  background-image: url("https://cdn.pixabay.com/photo/2014/06/16/23/39/black-370118__340.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 310px;
}

.blackCircleDesign {
  background-image: url("https://cdn.pixabay.com/photo/2015/10/01/21/57/wallpaper-967836__340.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 480px;
}

input[type="text"] {
  border-bottom: 1px solid white;
}


