/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f8f8;
}

.building {
  background-image: url("https://cdn.pixabay.com/photo/2019/12/10/10/53/architecture-4685608__340.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 260px;
}

.blackBackground {
  background-image: url("https://cdn.pixabay.com/photo/2015/12/08/00/39/architecture-1081912__340.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 480px;
}

.projectInfoItem {
  background-image: url("https://cdn.pixabay.com/photo/2014/06/16/23/39/black-370118__340.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 400px;
}

.blackCircleDesign {
  background-image: url("https://cdn.pixabay.com/photo/2015/10/01/21/57/wallpaper-967836__340.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 480px;
}

input[type="text"] {
  border-bottom: 1px solid rgb(153, 153, 14);
}


